### Dependencies
node_modules/
.pnp/
.pnp.js 

### Testing and Coverage metrics
coverage/
.nyc_output/ 

### Serverless Framework artifacts and localized database caching files
.serverless/
.dynamodb/ 

### Local configuration overrides and hidden system properties
.env
.env.*
.DS_Store
Thumbs.db 

### IDE configurations
.idea/
.vscode/ 

### Git metadata
.git/
.github/
