:root {
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --color-primary-1: #653F49;
  --color-primary-2: #7A4E59;
  --color-primary-3: #F4E8EA;

  --color-secondary-1: #E5C7A9;

  --text-main: #2F2A2C;
  --text-secondary: #746D70; 
  --text-muted: #B3B3B3; 
  --bg-main: #FBF7F3;
  --bg-card: #FFFFFF;

  --color-danger-800: #EC2D30;
  --color-danger-600: #F49898;
  --color-danger-100: #FEF2F2;

  --color-warming-800: #FE9B0E;
  --color-warming-600: #FFDD82;
  --color-warming-100: #FFF9EE;

  --color-success-800: #0C9D61;
  --color-success-600: #97D4B4;
  --color-success-100: #F2FAF6;

  --color-info-500: #3A70E2;
  --color-info-300: #93C8FF;
  --color-info-100: #F1F8FF;
}