@use '../../styles/mixins' as *;

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.headerText {
  max-width: 60%;
}

.pageTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-main);
  margin: 0 0 8px 0;
}

.pageSubtitle {
  font-size: 16px;
  color: var(--text-secondary);
  margin: 0;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding: 10px 0;
  gap: 12px;
  transition: all 0.3s ease;

  &:hover span {
    transform: translateX(4px);
  }
}

.arrowIcon {
  @include icon-mask('/icons/rightArrow.svg', 16px);
  background-color: var(--text-main);
  transition: all 0.3s ease;
}


.headerActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.backBtn {
  background: transparent;
  border: none;
  color: var(--text-main);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}