@use '../../styles/mixins' as *;

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.headerText {
  max-width: 60%;
}

.pageTitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-main);
  margin: 0 0 8px 0;
}

.pageSubtitle {
  font-size: 14px;
  color: var(--text-secondary);
  margin: 0;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 24px;
  gap: 3px;
}

.arrowIcon {
  @include icon-mask('/icons/rightArrow.svg', 16px);
  background-color: var(--text-main);
}


.headerActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pickAgainBtn {
  background-color: var(--color-primary-2);
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.backBtn {
  background: transparent;
  border: none;
  color: var(--text-main);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}