@use '../../styles/mixins' as *;

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 24px 116px;
  color: var(--text-main);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 24px;
  gap: 3px;
}

.arrowIcon {
  @include icon-mask('/icons/rightArrow.svg', 16px);
  background-color: var(--text-main);
}

.pageTitle {
  font-size: 16px;
  font-weight: 400;
}

.filterSection {
  margin-bottom: 48px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 24px;
}

.customLabel {
  display: block;
  cursor: pointer;
}

.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border: 1px solid var(--color-primary-2);
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: var(--text-main);
}

.hiddenInput:checked + .customButton {
  background-color: var(--text-main, #000);
  color: var(--bg-main, #fff);
  border-color: var(--text-main, #000);
}

.hiddenInput:focus-visible + .customButton {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.budgetHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 16px;
}

.sliderWrapper {
  max-width: 700px;
  width: 100%;
  margin: 16px 0 24px;
  padding: 0 8px
}

.budgetValue {
  font-weight: 600;
  font-size: 18px;
}

.rangeSlider {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.budgetLimits {
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
  font-size: 14px;
}

.actionFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;
}

.generateBtn {
  height: 44px;
  background-color: var(--color-primary-2);
  color: #fff;
  border: solid 1px var(--text-main);
  border: none;
  border-radius: 8px;
  padding: 12px 48px;
  font-size: 16px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary-1);
  }
}