@use '../../../styles/mixins' as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 108px;
  padding: 0 100px 0 80px;

  background-color: var(--bg-main);
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 42px;
  white-space: nowrap;
}

.link {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-main);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  max-width: 120px;
  width: 100%;
  height: 28px;
  
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.wishlistIcon {
  @include icon-mask('/icons/heart.svg', 32px);
  background-color: var(--text-main);
}

.profileIcon {
  @include icon-mask('/icons/profile.svg', 32px);
  background-color: var(--text-main);
}