@use '../../../styles/mixins' as *;

.footer {
  height: 200px;
  flex-shrink: 0;
  padding: 0 80px;

  @include on-phone {
    height: auto; // Дозволяємо футеру рости в залежності від контенту
    padding: 32px 16px; /* твої значення відступів */
  }
}

.topSection {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px 0 80px;
  border-bottom: 1px solid var(--text-muted);

  @include on-phone {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 32px 0; /* твої значення відступів */
    gap: 32px; /* відступ між лого і навігацією */
  }
}

.bottomSection {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include on-phone {
    height: auto;
    padding-top: 24px; /* твоє значення */
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  max-width: 120px;
  width: 100%;
  height: 28px;
  
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @include on-phone {
    margin: 0 auto; // Центруємо логотип
  }
}

.rightSection {
  display: flex;
  align-items: center;

  @include on-phone {
    width: 100%;
    justify-content: center;
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 72px;

  @include on-phone {
    flex-direction: column;
    gap: 24px; /* відступ між лінками */
  }
}

.link {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
  text-align: center;
  line-height: 100%;
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: -2px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    display: block;
    width: 100%;
    height: 1.5px;
    border-radius: 2px;
    background-color: var(--text-main);
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.footerText {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--text-main);
  text-align: center;

  @include on-phone {
    font-size: 14px; /* твоє значення */
  }
}